<!doctype html>
<html>
  <head>
    <title><%= shopName %></title>
    <style>
      body {
        background-color: #fff3e0;
        font-family: Verdana, sans-serif;
        text-align: center;
        padding: 40px;
      }
      h1 {
        color: #ff5722;
      }
      p {
        color: #333;
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <h1>About the <%= shopName %> Shop</h1>
    <p>We sell all sorts of drinks</p>
  </body>
</html>
